    <div id="about" class="row" >
        <div class="col-sm-4" >
            <h1>A PROPOS</h1>
        </div>
        <div class="col-sm-8" >
            <h3>
                <p>
                    Toutes nos salutations chers clients, Hifampitantsoa vous accueille 
                    pour vos plus beaux évènements familiales (mariages, fiançailles, baptêmes, ... )
                     et professionels (séminaires,réunions, ... ).
                    Nous mettons à votre disposition une grande salle, situé à Soanierana 
                    ( <a href="https://www.google.fr/maps/@-18.9364399,47.5252991,86m/data=!3m1!1e3">map</a> )
                    en plein centre ville, pouvant accueillir jusqu'à 200 personnes.
                    Quelque soit vos évènements notre salle sauras répondre à vos attentes et besoins 
                    de part sa décoration intérieure chic et neutre afin que chacun puisse la décorer à 
                    son goût et à son aise. 
                </p>
            </h3>
        </div>
    </div>

    <div class="row" id="aperçu">
        <div class="col-sm-4 col-sm-push-8">
            <h1>APERCU</h1>
        </div>
        <div id="espaceCarousel" class="carousel col-sm-8 col-sm-pull-4" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#espaceCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#espaceCarousel" data-slide-to="1"></li>
                <li data-target="#espaceCarousel" data-slide-to="2"></li>
                <li data-target="#espaceCarousel" data-slide-to="3"></li>
                <li data-target="#espaceCarousel" data-slide-to="4"></li>   
            </ol>
            <center class="carousel-inner" role="listbox" >
                <img class="item active img-responsive " src="image/hifampitantsoa/modif/tablebleu.jpg"  />
                <img class="item  img-responsive " src="image/hifampitantsoa/modif/bleu.jpg"  />
                <img class="item  img-responsive " src="image/hifampitantsoa/modif/tablerouge.jpg"  />
                <img class="item  img-responsive " src="image/hifampitantsoa/modif/rouge.jpg"  />
                <img class="item  img-responsive " src="image/hifampitantsoa/modif/invitation.jpg" /> 
            </center>   
            <a class="left carousel-control" href="#espaceCarousel" data-slide="prev" role="button">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#espaceCarousel" data-slide="next" role="button">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
        <%- include ('calendrier') %>             
    <div class="row" id="contact">
        <h3  class="container">    
            <i >
                <p>
                    Nous vous remercions pour votre visite.
                </p>
                <p>
                    Nous espérons sincèrement vous revoir bientôt.
                </p>
                <p>
                    Pour plus d'informations veuillez nous contacter au numéro:
                </p>
                <p>
                    033 12 338 73 ou 032 11 072 55 ou sur notre page facebook 
                    <b><a href="https://www.facebook.com/samuarsss/">Espace Hifampitantsoa Groupe</a></b>
                </p>
            </i>
        </h3>
    </div>
        


