    
<ul class="nav navbar-nav navbar-right">
    <li>
        <a>
            <form action="/deconnexion" method="POST">
                <button type="submit" style="background: black;border: none;">
                    <span class="glyphicon glyphicon-log-out"></span> Se Déconnecter
                </button>
            </form>
        </a>
    </li>
</ul>
</div>
</div>
</nav>