
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#" data-toggle="modal" data-target="#connexion">
            <span class="glyphicon glyphicon-log-in"></span> Se Connecter
        </a>
    </li>
</ul>
</div>
</div>
</nav>