<footer class="container-fluid" style="margin-top: 30px;">
    <p class="col-sm-6">
        Utilisateur : 
        <i><%= visiteur %></i>
    </p>
    <p class="col-sm-2 col-sm-push-4">copyright: Safidy Angelo</p>
    <a class="col-sm-2 col-sm-pull-2" style="color:white" href="#">
        <span class="glyphicon glyphicon-chevron-up" type="button"></span>
    </a>
</footer>  