<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HIFAMPINTATSOA</title>
    <link rel="icon" type="image/x-icon" href="image/hifampitantsoa/modif/couverture.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />    
</head>